.heading-nav {
    margin-bottom: 14px;
    /* padding: 10px; */
    border: 1px solid #198754;
}
.popup-heading{  font-size: 19px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
margin-top: 15px!important;
margin-bottom: 10px!important;
}


@media (min-width: 1200px) {
  .css-1je17zp-MuiContainer-root {
      max-width: 100%;
  }
}

ul {
    margin: 0px;
    padding: 0px;
}
@media (min-width: 1200px) {
  .css-1x8tul1-MuiContainer-root {
      /* max-width: 1200px; */
  }
}